* {
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

#contenitore {
  width: 900px;
  height: 650px;
  margin: auto;
  margin-top: 40px;
  padding: 80px;
  border-radius: 15px;
  background: rgba(9, 0, 0, 0.5);
  color: white;
  font-size: 13px;
}

header,
nav {
  text-align: center;
}

nav {
  background-color: rgb(8, 251, 12);
  padding: 10px;
}

#logo {
  width: 30%;
}

h1 {
  color: rgb(8, 251, 12);
  margin: 0;
}

.sottotitolo {
  display: inline-block;
  margin: 0;
}

.stato-batteria {
  height: 25px;
  border-radius: 5px;
}

.batteria1 {
  width: 250px;
  background-color: rgba(245, 154, 43, 0.947);
}

.batteria2 {
  width: 600px;
  background-color: rgb(26, 182, 29);
}

.batteria3 {
  width: 150px;
  background-color: rgb(165, 48, 48);
}

section {
  margin-top: 10px;
}

section > div {
  margin-top: 1px;
}
